/* ==========================================================
   RESPONSIVIDADE - NORDICOS CHOPERIA
========================================================== */


/* Tablets */

@media(max-width:900px){


    .hero{

        height:350px;

    }


    .hero h1{

        font-size:32px;

    }


    .produtos-grid{

        grid-template-columns:

        repeat(2,1fr);

        padding:30px 20px;

    }


}



/* Celulares */

@media(max-width:600px){


    body{

        overflow-x:hidden;

    }



    /* HERO */

    .hero{

        height:300px;

    }


    .logo{

        width:130px;

    }


    .hero h1{

        font-size:26px;

        letter-spacing:2px;

    }


    .hero p{

        font-size:15px;

    }



    /* Pesquisa */


    .search-area{

        padding:20px 15px;

    }


    #search{

        padding:14px 20px;

        font-size:14px;

    }



    /* MENU */


    .menu-categorias{

        padding:12px;

        gap:10px;

    }


    .categoria{

        padding:10px 16px;

        font-size:13px;

    }



    /* PRODUTOS */


    .produtos-grid{


        grid-template-columns:

        1fr;


        padding:25px 15px;


        gap:20px;


    }



    .card{


        border-radius:20px;


    }



    .card img{


        height:210px;


    }



    .card-body{


        padding:20px;


    }



    .card h2{


        font-size:20px;


    }



    .card p{


        font-size:14px;


    }



    .preco{


        font-size:25px;


    }



    /* BOTÃO TOPO */


    #topo{


        width:45px;

        height:45px;


        right:15px;


        bottom:15px;


    }



}